<div class="jumbotron text-center"><div class="row">
  <div class="col-4"><p class="h5 font-weight-bold">Name: {{ this.session.name}}</p></div>
  <div class="col-4"><p class="h5">Org: {{ this.session.org}}</p></div>
  <div class="col-4"><p class="h5 text-danger">Plan: {{ this.session.plan}}</p></div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-12 my-2" *ngFor="let feature of session.features">
  <div class="card bg-success" *ngIf="feature | testpipe;else elsePart">
    <div class="card-body">
      <h5>{{ feature.name}}</h5>
      <p>{{feature.visibility}}</p>
    </div>
  </div>

  <ng-template #elsePart>
    <div class="col-12 card bg-danger my-2">
      <h5>{{ feature.name}}</h5>
      <p>{{feature.visibility}}</p>
      <div class="card-body">
        <button class="btn btn-sm btn-light">Try this</button>
      </div>
    </div>
  </ng-template>
</div>


</div>
</div>